<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NetMeter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./static/semantic.min.css">
        <script href="./static/jquery.min.js"></script>
        <script href="./static/semantic.min.js"></script>
    </head>
    <body>
        <div class="container-titlebar drag">
            <div class="title" id="app-title">网卡监控设置</div>
            <div id="electron-titlebar" class="titlebar" style="position: fixed !important;z-index: 10;"></div>
        </div>
        <div class="container-main">

        </div>
    </body>
</html>