<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>NetMeter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="static/styles/widget.css">
        <script>
            window.$ = window.jQuery = require("./static/jquery.min.js");
        </script>
    </head>
    <body>
        <div class="container-widget">
            <div class="widget-speed widget-downloadspeed">
                <i class="arrow down icon"></i><span></span>
            </div>
            <div class="widget-speed widget-uploadspeed">
                <i class="arrow up icon"></i><span></span>
            </div>
        </div>
    </body>
</html>
