<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>NetMeter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="static/styles/widget.css">
        <script>
            window.$ = window.jQuery = require("./static/jquery.min.js");
            const {
                ipcRenderer,
                Menu,
                MenuItem
            } = require('electron');
            const remote = require('electron').remote;
            // global vars
            let adapter;
            let timer;
        </script>
    </head>
    <body>
        <div class="container-widget">
            <div class="widget-speed widget-downloadspeed">
                <div class="widget-speed-icon">
                    <i class="arrow down icon"></i>
                </div>
                <div class="widget-speed-text">
                    <span id="speed-download">&nbsp;</span>
                </div>
            </div>
            <div class="widget-speed widget-uploadspeed">
                <div class="widget-speed-icon">
                    <i class="arrow up icon"></i>
                </div>
                <div class="widget-speed-text">
                    <span id="speed-upload">&nbsp;</span>
                </div>
            </div>
        </div>
        <script>
            ipcRenderer.on('init-adapter', (sender, data) => {
                adapter = data;
                timer = setInterval(() => {
                    ipcRenderer.send('get-speed', adapter);
                }, 1000);
            });
            ipcRenderer.on('update-speed', (sender, data) => {
                if (data) {
                    if (data.download) {
                        $('#speed-download').text(data.download);
                    }
                    if (data.upload) {
                        $('#speed-upload').text(data.upload);
                    }
                }
            });
        </script>
    </body>
</html>
